﻿@model Evaluacion2.Models.Instructor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Headquarters.name_headquarter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Headquarters.name_headquarter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialities.name_speciality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialities.name_speciality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.second_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.second_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.second_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.second_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
