﻿@model Evaluacion2.Models.Instructor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Headquarters.name_headquarter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Headquarters.name_headquarter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialities.name_speciality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialities.name_speciality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.second_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.second_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.second_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.second_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.name_instructor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
