﻿@model IEnumerable<Evaluacion2.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Headquarters.name_headquarter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialities.name_speciality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.second_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.second_last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Headquarters.name_headquarter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialities.name_speciality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.second_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.second_last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.name_instructor }) |
            @Html.ActionLink("Details", "Details", new { id=item.name_instructor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.name_instructor })
        </td>
    </tr>
}

</table>
