﻿@model Evaluacion2.Models.Headquarter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Headquarter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_headquarter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_headquarter)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_name_headquarter }) |
    @Html.ActionLink("Back to List", "Index")
</p>
